@charset ""UTF-8"";

.pop_btn > li {
  display: inline-block;
  height: 110px;
  margin: 0;
  position: relative;
  width: 110px;
}

.pop_btn > li a {
  background-color: #0B9;
  border: 5px solid #0B9;
  border-radius: 500px;
  color: #FFF;
  display: block;
  font-family: "Arial Black";
  font-size: 17px;
  height: 70px;
  left: 15px;
  line-height: 70px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  top: 15px;
  transition: all ease 0.2s;
  width: 70px;
}

.pop_btn > li a:hover {
  background-color: #FFF;
  color: #0B9;
  height: 100px;
  left: 0;
  line-height: 100px;
  top: 0;
  width: 100px;
}
